[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5.0,<6.0"
python-dotenv = "*"
djangorestframework = "*"
pytz = "*"
django-filter = "~=21.0"
psycopg2-binary = "*"
whitenoise = "*"
django-environ = "*"
gunicorn = "*"
uritemplate = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
pydantic = "*"
dependency = "*"
django-constance = '*'
boto3 = "*"
pre-commit = "*"

[dev-packages]
black = "*"
flake8 = "*"
debugpy = "*"
ipython = "*"

[requires]
python_version = "3.14"

[scripts]
start = "python manage.py runserver"
migrate = "python manage.py migrate"
createsuperuser = "python manage.py createsuperuser"
shell = "python manage.py shell"
